.wrap {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 20px #ccc;
}

.image-wrap {
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s ease;

    .image-item {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.btn-wrap {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
    
    .btn-item {
        display: inline-block;
        margin: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px #ccc;
        line-height: 50px;
        vertical-align: middle;
        transition: all 0.3s ease;
        cursor: pointer;
        &.active,
        &:hover {
            transform: scale(1.3);
            background: rgba(0, 0, 0, 0.3);
            //width: 20px;
            //height: 20px;
        }
    }
}